<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Department</title>
</head>
<body>
    <form method="POST">
        <label>Department ID: </label><br>
        <input type="number" name="id" placeholder="Department ID"><br><br>
        
        <label>Name: </label><br>
        <input type="text" name="name"><br><br>
        
        <label>Faculty: </label><br><br>
        <select id="faculty" name="faculty_id">
          <option value="1">Faculty of Electrical and Computer Engineering</option>
          <option value="2">TELEESA</option>
        </select><br><br>
        
        <button>Submit</button>
    </form>
</body>
</html>
