<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Portfolio</title>
</head>
<body>
    <form method="POST">
        <label>Portfolio ID: </label><br>
        <input type="number" name="id" placeholder="College ID"><br><br>
        
        <label>Name: </label><br>
        <input type="text" name="name"><br><br>
        
        <button>Submit</button>
    </form>
</body>
</html>
