<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Faculty</title>
</head>
<body>
    <form method="POST">
        <label>Faculty ID: </label><br>
        <input type="number" name="id" placeholder="Faculty ID"><br><br>
        
        <label>Name: </label><br>
        <input type="text" name="name"><br><br>
        
        <label>College: </label><br>
        <select id="college" name="college_id">
          <option value="1">College of Engineering</option>
          <option value="2">College of Science</option>
          <option value="3">College of Humanities and Social Sciences</option>
          <option value="4">College of Art and Built Environment</option>
          <option value="5">College of Health Sciences</option>
          <option value="6">College of Agriculture and Natural Resources</option>
        </select><br><br>
        
        <button>Submit</button>
    </form>
</body>
</html>
